.centered {
  height: 15%;
  justify-content: center;
  position: fixed;
  bottom: 0%;
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: 100%;
  margin: 0px auto;
  left: 0;
  right: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background-color: transparent;
  width: 2em;
  height: 2em;
  border-radius: 100%;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  outline: none;
}

#button-1 {
    border-color: red;
}
#button-2 {
    border-color: yellow;
}
#button-3 {
    border-color: green;
}

.instructions {
  position: fixed;
  top: 2em;
  left: 2em;
  right: 2em;
  visibility: hidden;
  /* height: 10%; */
  padding: 0.5em;
  font-size: 1.25em;
  color: white;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
}
